doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title First Express application in Deno
    body
        main
            h1 First Express application in Deno
            img(src=deno_logo alt='[Deno logo]')
            form(method='POST' action='/')
                label(for='name') Give your name
                input(name='name')
                br
                input(type='submit')
                input(type='reset')
                        